requests==2.19.1

opster==4.1
patool==1.12
python-coveralls==2.9
coveralls==1.1
mock==2.0.0
PyYAML==3.12
codecov==2.0.9

# Logs
daiquiri==1.2.1

# Tests
pytest==3.2.2

# Media name and Subtitles
guessit==2.1.4
# subliminal from my repository
git+git://github.com/shlomiLan/subliminal.git@add_country
babelfish==0.5.5